{% extends 'board/base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">게시판 글쓰기</h5>
    <form method="post" class="my-3">
        {% include "board/form_errors.html" %}
        {{ form.csrf_token }}
        <div class="mb-3">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ form.title.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10" value="{{ form.content.data or '' }}" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}